body {
    background: url(scotland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
}

html {
    box-sizing: border-box;
}

/* For landingpage */
.welcome {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10%;
}

a.welcome {
    color: white;
    font-family: helvetica;
    font-size: 80%;
}

/* Landingpage end */


/* Index page */

a {
    text-decoration: none;
    color: white;
}

#nav-wrapper {
    background-color: rgba(0,0,0,0.2);
    color: white;
    font-family: helvetica;
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: baseline;
}

nav.navcontainer {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    transition: all 0.5s;
}

.navbtn {
    background-color: initial;
    color: white;
    font-size: 150%;
    border: none;
}

.menu-content {
    display: none;
    width: 105%;
    height: 50%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-content a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}

.menu-content a:hover {
    background-color: rgba(0,0,0,0.2);
}

.navcontainer:hover .menu-content {
    display: block;
    background-color: rgba(0,0,0,0.2);
}

.navcontainer:hover .navbtn {
    background-color: rgba(0,0,0,0.2);
}



/* For flexcards */

#wrapper {
    display: flex;
    flex-grow: 1;
    padding: 1%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.card-wrap {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    height:auto;
    border:1px solid white;
    background: seagreen;
    opacity: 0.5;
    font-family: helvetica;
    margin: 1%;
}

span.title {
    text-align: left;
    color: white;
    padding-left: 1%;
}

.header{
    color: white;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type {
    text-align: left;
}

.author {
    text-align: right;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1%;
}

img {
    padding: 1%;
}

p {
    color: white;
    padding: 1%;
}

.cardfooter {
    background-color: gold;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1%;
}


.lastchild {
    display: flex;
    width: : 98%;
}


@media only screen and (min-width: 600px) {
/* For desktop & tablets: */

.navcontainer { flex: 11 50%;
 }

 #wrapper {
    max-width: 60%;
    align-content: center;
    margin: auto;
 }

}


@media only screen and (min-width: 1000px) {
/* For desktop & tablets: */

.navcontainer { flex:3;
 }

 .socialmedia {
    flex: 1 0 0;
 }

.card-wrap {
    width: 48%;
}

#wrapper {
    flex-direction: row;
    align-content: center;
    max-width: 80%;
    margin: auto;
}

.lastchild {
    flex-grow: 2;
}

}


@media all and (min-width: 500px;) {
    /* For mobile phones: */

.navcontainer {
    flex: 11 25%; 
}

#wrapper {
    width: 100%;
    margin: auto;
    align-content: center;
}

.lastchild {
    flex-shrink: 1;
}

}






