//Placeholders and classes: ;

///Button placeholder
%btn{
	width: 200px;
  height: 200px;
	border-radius: 50%;
	border-style: 1px solid red;
 	text-decoration:none;
 	padding:5%;
	margin: 10px;	
 	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 	font-size:1.5em;
}