body {
    background: url(../images/scotland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-attachment: fixed;
    font-family: helvetica;
}


html {
    box-sizing: border-box;
}